{#
/**
 * @file
 * Template for orders in the 'user' view mode.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - order: The rendered order fields.
 *   Use 'order' to print them all, or print a subset such as
 *   'order.order_number'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ order|without('order_number') }}
 *   @endcode
 * - order_entity: The order entity.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ order.order_number }}
  <div class="customer-information">
    {% if shipping_information %}
      <div class="customer-information__shipping">
        {{ shipping_information }}
      </div>
    {% endif %}
    {% if billing_information %}
      <div class="customer-billing">
        {{ billing_information }}
      </div>
    {% endif %}
  </div>
  <div class="order-information">
    {{ order.completed }}
    {{ order.placed }}
    {{ order.state }}
    {{ order.order_items }}
    {{ order.total_price }}
  </div>
</div>
